<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuhu.onlinechargingsystem.mapper.CustomerMapper">
    <select id="queryUserByUsername" resultType="Customer">
        select * from customer where username = #{username}
    </select>
    <insert id="addUser" parameterType="Customer">
        insert into customer (username,password,city) values (#{username},#{password},#{city})
    </insert>
    <update id="updateUser" parameterType="Customer">
        update user set name=#{name}, address=#{address} where username = #{username}
    </update>
</mapper>

<!--<mapper namespace="com.xuhu.onlinechargingsystem.mapper.RecordMapper">-->
<!--<select id="queryAllRecords" resultType="PayRecord">-->
<!--    select * from records-->
<!--</select>-->
<!--<insert id="addRecord" parameterType="PayRecord">-->
<!--    insert into records (username, date, electricity, fee) values (#{username}, #{date}, #{electricity}, #{fee})-->
<!--</insert>-->
<!--</mapper>-->