*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none
}
ul{
	list-style: none
}
body{
	font-family: "微软雅黑";
	background: rgb(246,246,246)
}
.content{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
	
}
.contenter{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.logo{
	width:200px;
	float:left;
}
.title{
	width:800px;
	float:right;
}
.title ul a li{
	float:left;
	margin:0px 1%;
	width:18%;
	text-align: center;
	color:#666;
	line-height: 202px;
	font-size:20px;
}
.title ul a li img{
	width:20%;
}
.img{
	width:100%;
}
h1{
	margin:20px 0px;
	text-align:center;
	color:#666;
}
.text{
	line-height: 30px;
	text-align: center;
	margin:20px 0px;
}
footer{
	background: rgb(59,59,108);
	width:100%;
	padding:10px 0px;
}
h2{
	margin:20px 0px;
	color:#fff;
}
h3{
	margin:20px 0px;
	color:#333;
}
.tel{
	color:#fff;
	margin:20px 20px;
}
.logos{
	width:200px;
	margin:20px auto;
}
.contact{
	padding:20px 20px;
	border:1px solid #999;
	width:400px;
	margin:20px auto;
}
.name{
	margin:5px 0px;
	color:#666;
}
input{
	height: 38px;
	width:100%;
	margin:20px 0px;
	border:1px solid #999;
	text-indent:20px;
}
.btn{
	background: blue;
	text-align: center;
	color:#fff
}
.left{
	width:580px;
	float:left;
	overflow: hidden;
	text-align: center
}
.right{
	width:580px;
	float:right;
	text-align: center
}
.left h2{
	color:#333;
}
.right p{
	margin:10px 0px;
}
.icon{
	width:50px;
	float:left;
	margin:50px 20px;
}
.phone{
	float:left;
	width:100px;
	margin-top:60px;
}
.bq{
	margin-top:60px !important;
}
.list li{
	border-bottom: 1px solid #999;
	padding:10px 0px;
}
.list li strong span{
	display: inline-block;
	width:31%;
	margin:0 1%;
}
.list li  span{
	display: inline-block;
	width:31%;
	margin:0 1%;
}
.tabcontent{
	display: none;
}