<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body >
	<div class="content">
		<div class="logo">
			<img src="images/logo.jpg" class="img">
		</div>
		<div class="title">
			<ul>
				<a href="">
					<li>Home</li>
				</a>
				<a href="#">
					<li>About</li>
				</a>
				<a href="#">
					<li>Contact</li>
				</a>
				<a href="login">
					<li>Login</li>
				</a>
			</ul>
		</div>
	</div>
	<img src="images/banner.png" class="img" alt="图您自己换下">
	<div class="content">
		<center><h1>About</h1></center>
		<p class="text">xuhu was created in 2021 in order to <br>provide a more convenient platform for paying electricity bills. <br>Our passion drives us forward. Here we believe we have always <br>provided the most intuitive and simple payment experience.</p>

		
	</div>
	<footer>
		<div class="content">
			<h2>FAQ</h2>
			<a href="#" class="tel">Tel: 123-456-7890</a>
			<a href="#" class="tel">Email: xuyuhao000@163.com</a>
			</div>
	</footer>
</body>
</html>