<!DOCTYPE html>
<html lang="zh-CN">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home</title>
	<link rel="stylesheet" href="css/style.css" />
	<script src="javascript/callToAction.js"></script>
</head>
<body >
	<!DOCTYPE html>
	<html lang="zh-CN">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Home</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body >
		<div class="content">
			<div class="logo">
				<img src="images/logo.jpg" class="img">
			</div>
			<div class="title">
				<ul>
					<a href="index">
						<li>Home</li>
					</a>
					<a href="#">
						<li>About</li>
					</a>
					<a href="#">
						<li>Contact</li>
					</a>
					<a href="login.html">
						<li>Login</li>
					</a>
				</ul>
			</div>
		</div>

		<div class="content">
			<div class="logos">
				<img src="images/logo.jpg" class="img">
			</div>
			<div class="contact">
				<div class="tab">
					<button onclick="switchTab('signIn')">Sign In</button>
					<button onclick="switchTab('signUp')">Sign Up</button>
				</div>
				<from id="signIn" class="tabcontent" action="">
					<p class="name">User Name</p>
					<input placeholder="">
					<p class="name">Password</p>
					<input placeholder="">

					<input placeholder="" value="Sign In" class="btn">
				</from>

				<from id="signUp" class="tabcontent" action="">
					<p class="name">User Name</p>
					<input placeholder="">
					<p class="name">Password</p>
					<input placeholder="">
					<p class="name">Please reenter your password</p>
					<input placeholder="">
					<input placeholder="" value="Sign Up" class="btn">
				</from>
			</div>


		</div>
		<br>
		<center><p>Conditions of use privacy notice</p></center>
	</div>
</body>
</html>