<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body >
	<div class="content">
		<div class="logo">
			<img src="images/logo.jpg" class="img">
		</div>
		<div class="title">
			<ul>
				<a href="index.html">
					<li>Home</li>
				</a>
				<a href="about.html">
					<li>About</li>
				</a>
				<a href="contact.html">
					<li>Contact</li>
				</a>
				<a href="login.html">
					<li>Login</li>
				</a>
				<a href="pe.html">
					<li><img src="images/1.jpg"></li>
				</a>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="left">
			<div class="icon">
				<img src="images/1.jpg" class="img">
			</div>
			<div>
				<form>
					<p >User Name</p>
					<div th:text="${session.user.username}" ></div>
					<p >Email</p>
					<div  th:if="${session.user.emailAddress != null}" th:text="${session.user.emailAddress}"></div>
					<p>Name</p>
					<input name="name" th:if="${session.user.name != null}" th:text="${session.user.name}" placeholder="">
					<p>Address</p>
					<input name="address" th:if="${session.user.address != null}" th:text="${session.user.address}" placeholder="">
					</br>
					<button>Edit</button>
				</form>
			</div>
		</div>
		<div class="right">
			<p class="bq"><strong>Balance:&nbsp</strong>1111</p>
		</div>
		<div style="clear:both"></div>
		<hr>
		<div class="info">
			<span>Upcoming payments::
			</span></div>
		<hr>
		<h2 style="color:#333"> Payment records</h2>
		<ul class="list">
			<li>
				<strong><span>1</span></strong>
				<strong><span>1</span></strong>
				<strong><span>1</span></strong>
			</li>
			<li>
				<span>1</span>
				<span>1</span>
				<span>1</span>
			</li>
			<li>
				<span>1</span>
				<span>1</span>
				<span>1</span>
			</li>
			<li>
				<span>1</span>
				<span>1</span>
				<span>1</span>
			</li>
			<li>
				<span>1</span>
				<span>1</span>
				<span>1</span>
			</li>
			<li>
				<span>1</span>
				<span>1</span>
				<span>1</span>
			</li>
			<li>
				<span>1</span>
				<span>1</span>
				<span>1</span>
			</li>
		</ul>
	</div>
	<footer>
		<div class="contenter">
			<h2>FAQ</h2>
			<a href="#" class="tel">Tel: 123-456-7890</a>
			<a href="#" class="tel">Email: xuyuhao000@163.com</a>
		</div>
	</footer>
</body>
</html>